{% extends 'base.html' %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename='css/categories.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="top nav-text">
    &nbsp;&nbsp;&nbsp; Categories
</div>

<div class=" content">
    {% if categories %}
        <div class="categories">
            {% for category in categories %}
                <div class="category card">
                    {{category}}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}